@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* ### Primary */

    --Red: #ea5353;
    --Cyan: #45d3d3;
    --Orange: #fcaf4a;
    --Blue: #549ef2;

    /* ### Neutral */

    --Very-Dark-Blue: #4c4e61;
    --Grayish-Blue: #a3a5ae;
    --Very-Light-Gray: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--Very-Light-Gray);
    height: 100vh; 
    display: grid;
    justify-content: center;
}

