@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* ### Primary */

    --Red: #ea5353;
    --Cyan: #45d3d3;
    --Orange: #fcaf4a;
    --Blue: #549ef2;

    /* ### Neutral */

    --Very-Dark-Blue: #4c4e61;
    --Grayish-Blue: #a3a5ae;
    --Very-Light-Gray: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--Very-Light-Gray);
    height: 100vh;
    display: grid;
    justify-content: center;
    
}

.header__description {
    margin-top: 16px;
}

main {
    padding: 85px 32px 78px;
}

.cards {
    display: grid;
    grid-auto-flow: row dense;
    gap: 24px;
    align-items: center;
    justify-items: center;
}

.card {
    padding: 28px;
    border-top: 4px solid;
    box-shadow: 0 15px 30px -11px rgba(131, 167, 210, 0.500);
    border-radius: 4px;
    max-width: 350px;
    max-height: 250px;
}

.card .image {
    display: flex;
    justify-content: flex-end;
    margin-top: 33px;

}

.supervisor {
    border-color: var(--Cyan);
}


.builder {
    border-color: var(--Red);
}

.karma {
    border-color: var(--Orange);
}

.calculator {
    border-color: var(--Blue);
}

.card h2 {
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    font-size: 20px;
    line-height: 30px;
}

.card p {
    font-weight: 400;
    color: var(--Grayish-Blue);
    font-size: 13px;
    line-height: 23px;
}

header {
    margin: auto;
    text-align: center;
    margin-bottom: 76px;
    max-width: 540px;
}

.header__h1 {
    color: var(--Very-Dark-Blue);
    font-size: clamp(24px, 4vw,36px);
    font-weight: 600;
   letter-spacing: 0.25px;
}

.header__text {
    letter-spacing: 0.25px;
    font-weight: 200;
    font-size: clamp(24px, 4vw,36px);
    color: var(--Very-Dark-Blue);
}

.header__description {
    line-height: 25px;
    font-size: 15px;
    color: var(--Grayish-Blue);
}

@media only screen and (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "supervisor builder calculator"
        "supervisor karma calculator";

        margin: 0;
    }

    h2 {
        padding-bottom: 6px;
    }

    .supervisor {
        grid-area: supervisor;
    }

    .builder {
        grid-area: builder;
    }

    .karma {
        grid-area: karma;
    }

    .calculator {
        grid-area: calculator;
    }
}
